<div class="container-fluid">
  <div class="table-responsive">
    <button class="btn btn-primary" style="float: right">New Parent</button>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Parent</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Phone Number</th>
        <th>Send To</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let parent of parents; let i = index">
        <td class="user-stats-avatar" *ngIf="parent.sex == 'M'"><img src="assets/img/user.png"
                                                                     alt="Avatar" height="50px"
                                                                     width="50px"><span></span>
          <span class="cell-detail-description"></span></td>
        <td class="user-stats-avatar" *ngIf="parent.sex == 'F'"><img src="assets/img/user2.png"
                                                                     alt="Avatar" height="50px"
                                                                     width="50px"><span></span>
          <span class="cell-detail-description"></span></td>
        <td class="milestone">{{parent.name}}
        <td class="milestone">{{parent.sex}}</td>
        <td class="cell-detail"><span>{{parent.phone}}</span>
        <td>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" (click)="select(parent)">
            <span class="custom-control-indicator"></span>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" *ngIf="checkIfParentIsSelected()">
  <div class="card" *ngIf="!loading">
    <div class="card-body">
      <form [formGroup]="messageForm">
        <div class="form-group">
          <label for="example">Send Message</label>
          <textarea type="text" class="form-control" id="example" aria-describedby="help"
                    [formControl]="messageForm.controls['message']" [(ngModel)]="message" maxlength="160"></textarea>
          <small id="help" class="form-text text-muted">{{message.length}} / 160</small>
        </div>
        <button type="button" class="form-control btn btn-success" (click)="sendSMSs()">
          Send
          Messages
        </button>
      </form>
    </div>
  </div>
  <div class="spinner" *ngIf="loading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>
